<spa-header icon="home" title="Páginal Inicial"></spa-header>

<div class="card-welcome">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            Bem Vindo!
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            Sistema para cadastrar e gerenciar produtos
        </mat-card-subtitle>
        <mat-card-actions class="actions">
            <button color="primary" mat-raised-button (click)="cadastrar()">Cadastrar produto</button>
            <button color="accent" mat-raised-button (click)="listar()">Listar produtos</button>
        </mat-card-actions>
    </mat-card>
</div>
